
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#home">Acueille</a></li>
                <li><a href="#about">Apropos</a></li>
                <li><a href="#food">Categori</a></li>
                <li><a href="#food-menu">Application</a></li>
                <li><a href="#testimonials">
                    Témoignage</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <h1 class="logo"><img src="assets/icons/logo.png" class="mat-icontop" width="50px" height="50px" alt="Search"></h1>
        </div>
    </nav>
    <section class="showcase-area" id="showcase">
        <div class="showcase-container">
            <h1 class="main-title" id="home">Choisissez Application</h1>
            <p>Ton meilleur choix digital sera...</p>
            <a href="#food-menu" class="btn btn-primary">Application</a>
        </div>
    </section>

    <section id="about">
        <div class="about-wrapper container">
            <div class="about-text">
                <p class="small">About Us</p>
                <h2>Nous avons 10 ans d'expérience.</h2>
                <p>
                    Bienvenue sur notre site ! Chez World-Digital,
                    nous sommes spécialisés dans la création d'applications 
                    numériques et de sites web sécurisés dédiés au domaine financier.
                    Notre expertise nous permet de concevoir des solutions innovantes 
                    qui répondent aux besoins spécifiques de nos clients, 
                    en garantissant la sécurité et la fiabilité de chaque
                    produit que nous développons. Que vous soyez une start-up 
                    en pleine croissance ou une entreprise établie cherchant à 
                    numériser vos opérations financières, nous sommes là pour 
                    vous accompagner à chaque étape de votre transformation digitale.
                    Notre engagement envers l'excellence et notre passion pour la technologie 
                    nous permettent de vous offrir des solutions sur mesure,
                    adaptées à vos objectifs stratégiques.
                    Explorez notre portfolio et contactez-nous pour découvrir 
                    comment nous pouvons vous aider à concrétiser vos projets numériques avec succès.
                </p>
            </div>
            <div class="about-img">
                <img src="assets/icons/credit-card.png" alt="food" />
            </div>
        </div>
    </section>
    <section id="food">
        <h2>Types Des Applications</h2>
        <div class="food-container container">
            <div class="food-type fruite">
                <div class="img-container">
                    <img src="https://i.postimg.cc/z3YHDR9Y/growth.png" alt="error" width="100px" height="1000px"/>
                    <div class="img-content">
                        <h3>Finaciere</h3>
                        <a href="http://127.0.0.1:8000" class="btn btn-primary" target="blank">Voire
                            Plus</a>
                    </div>
                </div>
            </div>
            <div class="food-type vegetable">
                <div class="img-container">
                    <img src="https://i.postimg.cc/ZR9GPfqZ/store.png" alt="error" />
                    <div class="img-content">
                        <h3>E-Commerce</h3>
                        <a href="https://en.wikipedia.org/wiki/Vegetable" class="btn btn-primary" target="blank">Voire
                            Plus</a>
                    </div>
                </div>
            </div>
            <div class="food-type grin">
                <div class="img-container">
                    <img src="https://i.postimg.cc/hGq2DSmx/smartphone.png" alt="error" />
                    <div class="img-content">
                        <h3>E-Banking</h3>
                        <a href="https://en.wikipedia.org/wiki/Grain" class="btn btn-primary" target="blank">Voire
                            Plus</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="food-menu">
        <h2 class="food-menu-heading">List Des Applications</h2>
        <div class="food-menu-container container">
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="https://i.postimg.cc/zXTr0fqH/ecommerce.png" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">E-shop</h2>
                    <p>
                        Pour la commercialisation en ligne, il permet au fournisseur de vendre leurs produits ainsi que de réaliser des paiements en ligne.
                    </p>
                    <p class="food-price">Prix Approximatif.:$ 757,83</p>
                </div>
            </div>

            <div class="food-menu-item">
                <div class="food-img">
                    <img src="https://i.postimg.cc/3r4Kyvx2/e-payment.png" alt="error" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">E-Banking</h2>
                    <p>
                        Le e-banking, ou banque en ligne, a révolutionné la manière dont les gens gèrent leurs finances. Grâce à des plateformes numériques sécurisées.
                    </p>
                    <p class="food-price">Price: $ 5052,18</p>
                </div>
            </div>
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="https://i.postimg.cc/KcJHyq2N/cheque.png" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Chequier</h2>
                    <p>
                        Chequier Une Application Pour Les Gestion Des Cheque Et Lenvoyer Au Destinateur Mail Par un protocole SMTP Aux Destinateur.
                    </p>
                    <p class="food-price">Price: $ 780,83</p>
                </div>
            </div>
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="https://i.postimg.cc/vTk7Z6XQ/archive.png" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">System Archivage </h2>
                    <p>
                        Un System D'archivage qui Gere Les Document D'une Societe selon leur depqrtement existant Et le garder D'une Maniere Efficasse sur le cloude .
                    </p>
                    <p class="food-price">Price: $ 800</p>
                </div>
            </div>
            <!-- <div class="food-menu-item">
                <div class="food-img">
                    <img src="https://i.postimg.cc/KYnDqxkP/food-menu5.jpg" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Food Menu Item 5</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                        quae.
                    </p>
                    <p class="food-price">Price: &#8377; 250</p>
                </div>
            </div>
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="https://i.postimg.cc/Jnxc8xQt/food-menu6.jpg" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Food Menu Item 6</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                        quae.
                    </p>
                    <p class="food-price">Price: &#8377; 250</p>
                </div>
            </div> -->
        </div>
    </section>
    <section id="testimonials">
        <h2 class="testimonial-title">Ce que nos clients disent</h2>
        <!-- <div class="testimonial-container container">
            <div class="testimonial-box">
                <div class="customer-detail">
                    <div class="customer-photo">
                        <img src="https://i.postimg.cc/5Nrw360Y/male-photo1.jpg" alt="" />
                        <p class="customer-name">Ross Lee</p>
                    </div>
                </div>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                    voluptas cupiditate aspernatur odit doloribus non.
                </p>

            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                    <div class="customer-photo">
                        <img src="https://i.postimg.cc/sxd2xCD2/female-photo1.jpg" alt="" />
                        <p class="customer-name">Amelia Watson</p>
                    </div>
                </div>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                    voluptas cupiditate aspernatur odit doloribus non.
                </p>

            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                    <div class="customer-photo">
                        <img src="https://i.postimg.cc/fy90qvkV/male-photo3.jpg" alt="" />
                        <p class="customer-name">Ben Roy</p>
                    </div>
                </div>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                    voluptas cupiditate aspernatur odit doloribus non.
                </p>

            </div>
        </div> -->
    </section>
    <section id="contact">
        <div class="contact-container container">
            <div class="contact-img">
                <img src="assets/icons/logo.png" alt="" />
            </div>

            <div class="form-container">
                <h2>Contact Nous</h2>
                <input type="text" placeholder="Nom" />
                <input type="email" placeholder="E-Mail" />
                <textarea cols="30" rows="6" placeholder="Ecrire Un Message"></textarea>
                <a href="#" class="btn btn-primary">Envoyer</a>
            </div>
        </div>
    </section>
    <footer id="footer">
        <h2> Digitalisation &copy; all rights reserved</h2>
    </footer>
    <!-- .................../ JS Code for smooth scrolling /...................... -->

